@page
@model RazorPagesCupcakes.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cupcakes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cupcakes.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cupcakes.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cupcakes.IsGlutenFree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cupcakes.IsGlutenFree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cupcakes.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cupcakes.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cupcakes.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
